data/flows.json
[{"id":"75f88ab1.8a0774","type":"swagger-doc","summary":"Test","description":"Hello World!","tags":"test","consumes":"","produces":"text/plain","parameters":[],"responses":{"200":{"description":"OK"}},"deprecated":false},{"id":"a4cb61f2.5b34a","type":"http in","name":"GET /api/hello","url":"/hello","method":"get","swaggerDoc":"75f88ab1.8a0774","x":74.5,"y":118,"z":"83c80c12.7c37f","wires":[["bd48083d.42b7f8"]]},{"id":"ade6a9d9.521958","type":"http response","name":"OK","x":404,"y":118,"z":"83c80c12.7c37f","wires":[]},{"id":"bd48083d.42b7f8","type":"template","name":"Hello World!","field":"payload","format":"handlebars","template":"Hello World! {{req.query.name}}","x":242,"y":118,"z":"83c80c12.7c37f","wires":[["ade6a9d9.521958","7994485a.866bb8"]]},{"id":"7994485a.866bb8","type":"debug","name":"Body","active":true,"console":"false","complete":"payload","x":404,"y":71,"z":"83c80c12.7c37f","wires":[]}]
