data/flows.json
[{"id":"75f88ab1.8a0774","type":"swagger-doc","summary":"Test","description":"Hello World!","tags":"test","consumes":"","produces":"text/plain","parameters":[{"name":"name","in":"query","description":"Your name","required":false,"type":"string"}],"responses":{"200":{"description":"OK"}},"deprecated":false},{"id":"a4cb61f2.5b34a","type":"http in","name":"GET /api/hello","url":"/hello","method":"get","swaggerDoc":"75f88ab1.8a0774","x":74.5,"y":118,"z":"2d8f44d0.d270bc","wires":[["bd48083d.42b7f8"]]},{"id":"ade6a9d9.521958","type":"http response","name":"OK","x":499,"y":118,"z":"2d8f44d0.d270bc","wires":[]},{"id":"bd48083d.42b7f8","type":"template","name":"Hello World!","field":"payload","format":"handlebars","template":"Hello World! {{req.query.name}}","x":242,"y":118,"z":"2d8f44d0.d270bc","wires":[["7994485a.866bb8","4366f2cc.bc990c"]]},{"id":"7994485a.866bb8","type":"debug","name":"Body","active":true,"console":"false","complete":"payload","x":404,"y":71,"z":"2d8f44d0.d270bc","wires":[]},{"id":"4366f2cc.bc990c","type":"function","name":"text/plain","func":"msg.res.header('Content-Type', 'text/plain');\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":153,"z":"2d8f44d0.d270bc","wires":[["ade6a9d9.521958"]]}]