data/flows.json
[
    {
        "type": "tab",
        "id": "239091d1.dc6f6e",
        "label": "Example"
    },
    {
        "id": "44f1906a.bb0e7",
        "type": "subflow",
        "name": "Post",
        "in": [
            {
                "x": 93,
                "y": 365,
                "wires": [
                    {
                        "id": "f823cd7f.07dc3"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "e63a0402.19c5f8",
        "type": "swagger-doc",
        "summary": "List items",
        "description": "Get the current list of items",
        "tags": "items",
        "consumes": "",
        "produces": "application/json",
        "parameters": [],
        "responses": {
            "200": {
                "description": "The list of items",
                "schema": {
                    "type": "array",
                    "items": {
                        "schema": {
                            "properties": {
                                "id": {
                                    "type": "number",
                                    "format": "int64"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "created": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        }
                    }
                }
            }
        },
        "deprecated": false
    },
    {
        "id": "80e4f5ca.7f1b08",
        "type": "swagger-doc",
        "summary": "Add item",
        "description": "Add a new item to the current list",
        "tags": "items",
        "consumes": "application/json",
        "produces": "application/json",
        "parameters": [
            {
                "name": "data",
                "in": "body",
                "description": "The new item",
                "required": true,
                "schema": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string"
                        },
                        "description": {
                            "type": "string"
                        },
                        "moncul": {
                            "type": "string"
                        }
                    }
                }
            }
        ],
        "responses": {
            "201": {
                "description": "Item created",
                "schema": {
                    "properties": {
                        "id": {
                            "type": "number",
                            "format": "int64"
                        },
                        "name": {
                            "type": "string"
                        },
                        "description": {
                            "type": "string"
                        },
                        "created": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                }
            },
            "400": {
                "description": "Bad request",
                "schema": {
                    "properties": {
                        "error": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "deprecated": false
    },
    {
        "id": "c7ae6e07.38519",
        "type": "http in",
        "name": "",
        "url": "/items",
        "method": "get",
        "swaggerDoc": "e63a0402.19c5f8",
        "x": 121.5,
        "y": 111,
        "z": "239091d1.dc6f6e",
        "wires": [
            [
                "6d9e0d5a.9261f4",
                "7605d8ff.89fa28"
            ]
        ]
    },
    {
        "id": "6a8c6320.95739c",
        "type": "debug",
        "name": "log_req_body",
        "active": true,
        "console": "false",
        "complete": "req.body",
        "x": 336,
        "y": 223,
        "z": "239091d1.dc6f6e",
        "wires": []
    },
    {
        "id": "6d9e0d5a.9261f4",
        "type": "function",
        "name": "list_items",
        "func": "context.global.items = context.global.items || [];\nmsg.payload = context.global.items;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 110,
        "z": "239091d1.dc6f6e",
        "wires": [
            [
                "86b4a038.794b6",
                "418bf6d2.be7408"
            ]
        ]
    },
    {
        "id": "86b4a038.794b6",
        "type": "debug",
        "name": "list",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 561,
        "y": 126,
        "z": "239091d1.dc6f6e",
        "wires": []
    },
    {
        "id": "ebde8c28.14217",
        "type": "http in",
        "name": "",
        "url": "/item",
        "method": "post",
        "swaggerDoc": "80e4f5ca.7f1b08",
        "x": 121,
        "y": 276,
        "z": "239091d1.dc6f6e",
        "wires": [
            [
                "6a8c6320.95739c",
                "7605d8ff.89fa28",
                "a66fec0b.59901"
            ]
        ]
    },
    {
        "id": "418bf6d2.be7408",
        "type": "http response",
        "name": "ok",
        "x": 562,
        "y": 83,
        "z": "239091d1.dc6f6e",
        "wires": []
    },
    {
        "id": "7605d8ff.89fa28",
        "type": "debug",
        "name": "log_req_url",
        "active": true,
        "console": "false",
        "complete": "req.url",
        "x": 321,
        "y": 183,
        "z": "239091d1.dc6f6e",
        "wires": []
    },
    {
        "id": "89c9f914.763608",
        "type": "http response",
        "name": "created",
        "x": 492,
        "y": 137,
        "z": "44f1906a.bb0e7",
        "wires": []
    },
    {
        "id": "3d55baaa.c2aa46",
        "type": "function",
        "name": "add_item",
        "func": "context.global.items = context.global.items || [];\nvar newItem = {\n  id: context.global.items.length,\n  name: msg.payload.name,\n  description: msg.payload.description,\n  created: new Date(),\n  ok: \"si c'est pas le mien\",\n  moncul: msg.payload.moncul\n};\ncontext.global.items.push(newItem);\nmsg.payload = newItem;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 343.5,
        "y": 111,
        "z": "44f1906a.bb0e7",
        "wires": [
            [
                "89c9f914.763608",
                "be6ebc3b.41914"
            ]
        ]
    },
    {
        "id": "be6ebc3b.41914",
        "type": "debug",
        "name": "item",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 486,
        "y": 83,
        "z": "44f1906a.bb0e7",
        "wires": []
    },
    {
        "id": "f823cd7f.07dc3",
        "type": "switch",
        "name": "has_name",
        "property": "payload.name",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 281,
        "y": 363,
        "z": "44f1906a.bb0e7",
        "wires": [
            [
                "a71abb39.58e548"
            ],
            [
                "513ee46.faec11c"
            ]
        ]
    },
    {
        "id": "656d2345.9a92dc",
        "type": "http response",
        "name": "refused",
        "x": 497,
        "y": 218,
        "z": "44f1906a.bb0e7",
        "wires": []
    },
    {
        "id": "a71abb39.58e548",
        "type": "change",
        "name": "201",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "to": "201"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 365,
        "y": 305,
        "z": "44f1906a.bb0e7",
        "wires": [
            [
                "3d55baaa.c2aa46"
            ]
        ]
    },
    {
        "id": "513ee46.faec11c",
        "type": "change",
        "name": "400",
        "rules": [
            {
                "t": "delete",
                "p": "payload"
            },
            {
                "t": "set",
                "p": "payload.error",
                "to": "Bad request"
            },
            {
                "t": "set",
                "p": "statusCode",
                "to": "400"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 443,
        "y": 378,
        "z": "44f1906a.bb0e7",
        "wires": [
            [
                "656d2345.9a92dc"
            ]
        ]
    },
    {
        "id": "a66fec0b.59901",
        "type": "subflow:44f1906a.bb0e7",
        "x": 503,
        "y": 298,
        "z": "239091d1.dc6f6e",
        "wires": []
    }
]