demo/flows.json
[
    {
        "id": "e24b1269.772e4",
        "type": "tab",
        "label": "DEMO",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dba4163.d6839e8",
        "type": "tab",
        "label": "REST",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a3fefd86.2db11",
        "type": "subflow",
        "name": "GPIO",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "69e3bf08.26598"
                    }
                ]
            }
        ],
        "out": [],
        "env": []
    },
    {
        "id": "127bc0ee.6df25f",
        "type": "subflow",
        "name": "OLED",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "772bf478.87d83c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 580,
                "y": 80,
                "wires": [
                    {
                        "id": "657b23f0.ccdf6c",
                        "port": 0
                    },
                    {
                        "id": "29af73e9.d973fc",
                        "port": 0
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "77aa9ec1.5a588",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "aa48f4a5.5417d8",
        "type": "swagger-doc",
        "z": "",
        "summary": "Set GPIO 40",
        "description": "",
        "tags": "gpio",
        "consumes": "",
        "produces": "",
        "parameters": [
            {
                "name": "value",
                "in": "formData",
                "description": "1 or 0",
                "required": true,
                "type": "number"
            }
        ],
        "responses": {},
        "deprecated": false
    },
    {
        "id": "c2fcc43e.7a8438",
        "type": "swagger-doc",
        "z": "",
        "summary": "Draw rectangle on I2C OLED",
        "description": "",
        "tags": "oled",
        "consumes": "",
        "produces": "",
        "parameters": [],
        "responses": {},
        "deprecated": false
    },
    {
        "id": "28d71081.9d51d",
        "type": "swagger-doc",
        "z": "",
        "summary": "Clear and shutdown OLED",
        "description": "",
        "tags": "oled",
        "consumes": "",
        "produces": "",
        "parameters": [],
        "responses": {},
        "deprecated": false
    },
    {
        "id": "3dcc593b.b21be6",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6fd09e10.6cb2e",
        "type": "ui_group",
        "z": "",
        "name": "Demo",
        "tab": "3dcc593b.b21be6",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "69e3bf08.26598",
        "type": "rpi-gpio out",
        "z": "a3fefd86.2db11",
        "name": "",
        "pin": "40",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 220,
        "y": 60,
        "wires": []
    },
    {
        "id": "b4cd33ec.3eaca",
        "type": "subflow:a3fefd86.2db11",
        "z": "e24b1269.772e4",
        "name": "PIN: 40",
        "env": [],
        "x": 424,
        "y": 89,
        "wires": []
    },
    {
        "id": "29af73e9.d973fc",
        "type": "function",
        "z": "127bc0ee.6df25f",
        "name": "draw rectangle on OLED",
        "func": "var i2c = global.get(\"i2c\");\nvar i2cBus = i2c.openSync(1);\n\nconst SIZE_X=128;\nconst SIZE_Y=64;\n\nvar opts = {\n  width: SIZE_X,\n  height: SIZE_Y,\n  address: 0x3C\n};\n\nvar Oled = global.get(\"oled\");\nvar oled = new Oled(i2cBus, opts);\n\noled.clearDisplay();\noled.turnOnDisplay();\n\noled.drawPixel([\n    [SIZE_X-1, 0, 1],\n    [SIZE_X-1, SIZE_Y-1, 1],\n    [0, SIZE_Y-1, 1],\n    [0, 0, 1]\n]);\n\noled.drawLine(1, 1, SIZE_X-2, 1, 1);\noled.drawLine(SIZE_X-2, 1, SIZE_X-2, SIZE_Y-2, 1);\noled.drawLine(SIZE_X-2, SIZE_Y-2, 1, SIZE_Y-2, 1);\noled.drawLine(1, SIZE_Y-2, 1, 1, 1);\n\nmsg.payload = \"You should see a rectangle on the screen 👍\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "657b23f0.ccdf6c",
        "type": "function",
        "z": "127bc0ee.6df25f",
        "name": "shutdown OLED",
        "func": "var I2C = global.get(\"i2c\");\nvar Oled = global.get(\"oled\");\n\nvar oled = new Oled(I2C.openSync(1), {\n  width: 128,\n  height: 64,\n  address: 0x3C\n});\n\noled.clearDisplay();\noled.turnOffDisplay();\n\nmsg.payload = \"Screen should be off 👍\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "772bf478.87d83c",
        "type": "switch",
        "z": "127bc0ee.6df25f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "657b23f0.ccdf6c"
            ],
            [
                "29af73e9.d973fc"
            ]
        ]
    },
    {
        "id": "9b5a54dd.676478",
        "type": "http response",
        "z": "dba4163.d6839e8",
        "name": "👍",
        "statusCode": "200",
        "headers": {},
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "fe66f7f2.2c3428",
        "type": "http in",
        "z": "dba4163.d6839e8",
        "name": "",
        "url": "/gpio/40",
        "method": "post",
        "upload": false,
        "swaggerDoc": "aa48f4a5.5417d8",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "7dfbbe32.1063b"
            ]
        ]
    },
    {
        "id": "7dfbbe32.1063b",
        "type": "function",
        "z": "dba4163.d6839e8",
        "name": "convert",
        "func": "msg.payload = (msg.payload.value === \"0\") ? 0 : 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 60,
        "wires": [
            [
                "34e5d96f.bcbd16",
                "7a4074b7.315d7c"
            ]
        ]
    },
    {
        "id": "34e5d96f.bcbd16",
        "type": "function",
        "z": "dba4163.d6839e8",
        "name": "👍",
        "func": "msg.payload = (msg.payload * 3.3) + \"V\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 516,
        "y": 60,
        "wires": [
            [
                "9b5a54dd.676478"
            ]
        ]
    },
    {
        "id": "fc42316a.bca33",
        "type": "http in",
        "z": "dba4163.d6839e8",
        "name": "",
        "url": "/oled/rectangle",
        "method": "post",
        "upload": false,
        "swaggerDoc": "c2fcc43e.7a8438",
        "x": 170,
        "y": 243,
        "wires": [
            [
                "eacec015.26972"
            ]
        ]
    },
    {
        "id": "1c0433aa.2b7b4c",
        "type": "http in",
        "z": "dba4163.d6839e8",
        "name": "",
        "url": "/oled/shutdown",
        "method": "post",
        "upload": false,
        "swaggerDoc": "28d71081.9d51d",
        "x": 170,
        "y": 353,
        "wires": [
            [
                "6bf7253b.0f648c"
            ]
        ]
    },
    {
        "id": "eacec015.26972",
        "type": "function",
        "z": "dba4163.d6839e8",
        "name": "1",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 391,
        "y": 243,
        "wires": [
            [
                "9a0b5e96.2bc3a"
            ]
        ]
    },
    {
        "id": "6bf7253b.0f648c",
        "type": "function",
        "z": "dba4163.d6839e8",
        "name": "0",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 353,
        "wires": [
            [
                "9a0b5e96.2bc3a"
            ]
        ]
    },
    {
        "id": "bb1ef474.9384b8",
        "type": "http response",
        "z": "dba4163.d6839e8",
        "name": "👍",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "9a0b5e96.2bc3a",
        "type": "subflow:127bc0ee.6df25f",
        "z": "dba4163.d6839e8",
        "name": "",
        "x": 530,
        "y": 300,
        "wires": [
            [
                "bb1ef474.9384b8"
            ]
        ]
    },
    {
        "id": "7a4074b7.315d7c",
        "type": "subflow:a3fefd86.2db11",
        "z": "dba4163.d6839e8",
        "name": "",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "8de20bcf.830148",
        "type": "rpi-gpio in",
        "z": "e24b1269.772e4",
        "name": "",
        "pin": "37",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 110,
        "y": 200,
        "wires": [
            [
                "f66a408a.3719c"
            ]
        ]
    },
    {
        "id": "34bc68e5.9b5c48",
        "type": "subflow:127bc0ee.6df25f",
        "z": "e24b1269.772e4",
        "name": "",
        "x": 363,
        "y": 346,
        "wires": [
            []
        ]
    },
    {
        "id": "14429a2a.249ac6",
        "type": "ui_button",
        "z": "e24b1269.772e4",
        "name": "",
        "group": "6fd09e10.6cb2e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Set GPIO 21 (PIN 40) HIGH ⬆️",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "b4cd33ec.3eaca"
            ]
        ]
    },
    {
        "id": "6b56eb31.749724",
        "type": "ui_button",
        "z": "e24b1269.772e4",
        "name": "",
        "group": "6fd09e10.6cb2e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Set GPIO 21 (PIN 40) LOW ⬇️",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "b4cd33ec.3eaca"
            ]
        ]
    },
    {
        "id": "c001f298.993e3",
        "type": "ui_button",
        "z": "e24b1269.772e4",
        "name": "",
        "group": "6fd09e10.6cb2e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Draw recangle on screen",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 153,
        "y": 290,
        "wires": [
            [
                "34bc68e5.9b5c48"
            ]
        ]
    },
    {
        "id": "737d29b0.e14dd8",
        "type": "ui_button",
        "z": "e24b1269.772e4",
        "name": "",
        "group": "6fd09e10.6cb2e",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear screen",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 113,
        "y": 370,
        "wires": [
            [
                "34bc68e5.9b5c48"
            ]
        ]
    },
    {
        "id": "f66a408a.3719c",
        "type": "ui_gauge",
        "z": "e24b1269.772e4",
        "name": "",
        "group": "6fd09e10.6cb2e",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "GPIO 26 (PIN 37)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#b50f03",
            "#e6e600",
            "#00ca08"
        ],
        "seg1": "",
        "seg2": "",
        "x": 350,
        "y": 200,
        "wires": []
    }
]